<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Red Artisan, agile ruby on rails specialists, Melbourne, Australia." />
<meta name="keywords" content="red artisan, ruby on rails, ruby, rails, consulting, melbourne, australia, marcus crafter, programming, agile development, agile, software development, web, web applications" />

<title><%=h @title ? "Red Artisan: #{@title}" : 'Red Artisan - Ruby on Rails Specialists - Melbourne, Australia' %></title>
<link href="http://feeds.redartisan.com/redartisan" rel="alternate" type="application/atom+xml" />
<link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/stylesheets/twilight.css" type="text/css" media="screen" />
<!--[if lte IE 6]>
<link rel="stylesheet" href="/stylesheets/screen_ie.css" type="text/css" media="screen" />
<![endif]-->

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"/>
<script type="text/javascript">
_uacct = "UA-1709693-1";
urchinTracker();
</script>

<body id="<%= body_id %>">
  <div id="headercontainer">
    <div id="logocontainer">
      <h1 id="logo" title="Red Artisan"><a href="/">Red Artisan</a></h1>
      <q id="tagline" title="agile ruby on rails specialists">Agile Ruby on Rails Specialists</q>
    </div>
    <div id="navbar-container">
      <ul id="navbar">
        <li id="nav-home">
          <a href="/" <%= %(class="selected") if body_id == 'home' %> title="Home">Home</a>
        </li>
        <li id="nav-blog">
          <a href="/blog" <%= %(class="selected") if body_id == 'blog' %> title="Blog">Blog</a>
        </li>
        <li id="nav-contact">
          <a href="/contact" <%= %(class="selected") if body_id == 'contact' %> title="Contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>

  <div id="maincontainer">
    <div id="maincontent">
<%= yield %>
    </div>
  </div>

  <div id="footercontainer">
    <p id="copyright">Copyright &copy; 2007-<%=h Time.now.year %> Red Artisan | <a href="/contact">Contact</a></p>
  </div>
</body>
</html>
